<div>
    <p>Hi <%= token.user.name %> !</p>
    <br>
    <p>
        Click the link below to change your password.
        <a href="http://localhost:8000/users/new_password/<%= token.accessToken %>">Click Here</a>
    </p>
</div>