<link rel="stylesheet" href="<%= assetPath('css/chat_box.css')%>">
<link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">

<% if (locals.user){ %>
	<div id="user-chat-box" class="font-family-bahnschrift">
		<span id="close-chat-box-btn">
			<a href='#'><i class="fa-solid fa-xmark"></i></a>
		</span>
		<p><i>Codeial Chat</i></p>
		<ul id="chat-messages-list">
			<li class="other-message">
				<!-- <span>Other Message</span> -->
			</li>
			<li class="self-message">
				<!-- <span>Self Message</span> -->
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message" class="font-family-bahnschrift">Send</button>
		</div>

	</div>
<% } %>
