<!-- This is a Partial -->
<footer>
    <span class="my-style">
        <i class="fa-regular fa-copyright"></i> Coding Ninjas. All rights reserved.
    </span>
    <div id="navigation-div" class="my-style">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
</footer>