<link rel='stylesheet' href='/css/user_profile.css'>


<div id="user-profile-body" class="font-family-bahnschrift">

    <div id="user-profile-container">
        <div id="user-profile-header">
            <h1>Reset Password</h1>
        </div>

        <div id="form-container">
            <h3>Please click <i class="fa-solid fa-arrow-pointer"></i>  the link shared to you via your email </h3>
            <br>
            <h4>(you may close this tab)</h4>
        </div>
    </div>

</div>