<link rel='stylesheet' href='/css/user_profile.css'>
<h1>
    Codeial / Users / Profile Page
</h1>

<h1>
    Hello, <%= userInfo.name %>! You are successfully signed in.
</h1>

<a href="/users/delete-session"><button>Sign Out</button></a>