<!-- <h1>
    Sign Up
</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>

<p>
    <a href="/users/auth/google"> Sign-in/Sign-up using Google</a>
</p> -->

<link rel='stylesheet' href='/css/user_profile.css'>


<div id="user-profile-body" class="font-family-bahnschrift">

    <div id="user-profile-container">
        <div id="user-profile-header">
            <h2>Codeial Sign-Up</h2>
        </div>

        <div id="form-container">
            <form action="/users/create" method="POST">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <input type="submit" value="Sign Up" id="form-btn">
            </form>

            <p>
                <a href="/users/auth/google">  Sign Up using <i class="fa-brands fa-google"></i></a>
            </p>
            <small id="forgot-password">
                <a href="/users/forgot_password">Forgot Password</a>
            </small>
        </div>
    </div>

</div>