header{
    a{
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-size: 1.2rem;
    }
    a:hover{
        color:black;
    }
    // border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(110, 151, 240);
    padding: 0 1%;
    
    #heading{
        font-family: sans-serif;
        font-size: 1.6rem;
        color: white;
        font-weight: 700;
    }

    #user-profile-div{

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 210px;


        li{
            display: inline;
            list-style: none;
        }
            
        img{
            width: 40;
            height: 40;
            border-radius: 50%;
        }
    }
}