<div>
    <p>Hi <%= token.user.name %> !</p>
    <br>
    <p>
        <a href="http://43.204.32.160/users/new_password/<%= token.accessToken %>">Click Here</a> to change your password.
    </p>
</div>