#user-chat-box {
  display: block;
  position: fixed;
  bottom: -60%;
  right: 2%;
  border: 3px outset #616161;
  border-bottom: none;
  border-radius: 10px;
  height: 350px;
  width: 300px;
  background: white;
  padding: 5px;
  transition: 0.5s;
  overflow: visible; }
  #user-chat-box p {
    margin-left: 33.6%; }
  #user-chat-box #close-chat-box-btn {
    position: relative;
    left: 95%;
    transition: 0.2s; }
  #user-chat-box #close-chat-box-btn a {
    color: black; }
  #user-chat-box #close-chat-box-btn:hover a {
    color: red;
    transition: 0.2s; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: white;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #ffa0a0; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff; }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 5.2%;
    width: 104%;
    right: 2%;
    bottom: 9.9%; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%;
      border-radius: 0px 0 0 10px;
      border: 2px outset #616161;
      border-bottom: 3px outset #616161;
      border-right: none;
      padding-left: 2%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: #7586a9;
      border-radius: 0 0 10px 0;
      transition: 0.1s;
      border: 3px outset #616161;
      border-right: 1px outset #616161;
      border-left: none;
      border-top: none; }
    #user-chat-box #chat-message-input-container #send-message:hover {
      background-color: #b0c4ec;
      color: black;
      transition: 0.1s;
      cursor: pointer; }

#user-chat-box:target {
  display: block;
  position: fixed;
  bottom: 1%;
  right: 2%;
  border: 3px outset #616161;
  border-bottom: none;
  border-radius: 10px;
  height: 350px;
  width: 300px;
  background: white;
  padding: 5px;
  transition: 0.5s;
  overflow: visible; }
  #user-chat-box:target p {
    margin-left: 33.6%; }
  #user-chat-box:target #close-chat-box-btn {
    position: relative;
    left: 95%;
    transition: 0.2s; }
  #user-chat-box:target #close-chat-box-btn a {
    color: black; }
  #user-chat-box:target #close-chat-box-btn:hover a {
    color: red;
    transition: 0.2s; }
  #user-chat-box:target #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: white;
    overflow: auto; }
    #user-chat-box:target #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box:target #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #ffa0a0; }
    #user-chat-box:target #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box:target #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff; }
  #user-chat-box:target #chat-message-input-container {
    height: 24%;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 5.2%;
    width: 104%;
    right: 2%;
    bottom: 9.9%; }
    #user-chat-box:target #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%;
      border-radius: 0px 0 0 10px;
      border: 2px outset #616161;
      border-bottom: 3px outset #616161;
      border-right: none;
      padding-left: 2%; }
    #user-chat-box:target #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: #7586a9;
      border-radius: 0 0 10px 0;
      transition: 0.1s;
      border: 3px outset #616161;
      border-right: 1px outset #616161;
      border-left: none;
      border-top: none; }
    #user-chat-box:target #chat-message-input-container #send-message:hover {
      background-color: #b0c4ec;
      color: black;
      transition: 0.1s;
      cursor: pointer; }
