header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7586a9;
  padding: 0 1%;
  font-family: sans-serif;
  font-size: 1.3rem; }
  header #header-elements {
    width: 250px;
    display: flex;
    justify-content: space-evenly; }
  header a {
    text-decoration: none;
    color: white;
    transition: 0.15s; }
  header a:hover {
    color: black;
    transition: 0.15s; }
  header #heading {
    font-family: bahnschrift;
    font-size: 1.6rem;
    color: white;
    font-weight: 700; }
  header #user-profile-div {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header #user-profile-div li {
      display: inline;
      list-style: none; }
    header #user-profile-div img {
      width: 40;
      height: 40;
      border-radius: 50%; }

.zero-point-8-rem {
  font-size: 0.8rem; }

.font-family-bahnschrift {
  font-family: bahnschrift; }
