#home-container {
  background-color: palevioletred;
  display: flex;
  justify-content: center; }
  #home-container #feed-posts {
    border-left: 0.5px solid black;
    flex-grow: 0.5;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #home-container #feed-posts #new-post-form {
      display: flex;
      flex-direction: column; }
    #home-container #feed-posts .post-comments {
      margin-left: 20%; }
    #home-container #feed-posts #posts-list-container li {
      border: 2px solid black; }
  #home-container #user-friends {
    border-left: 1px solid #b8b6b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.2;
    border-right: 0.5px solid black; }
    #home-container #user-friends a {
      color: black;
      text-decoration: none;
      font-family: sans-serif; }
    #home-container #user-friends a:hover {
      color: #3838a8; }
  #home-container #posts-list-container a {
    text-decoration: none;
    color: red; }
  #home-container #posts-list-container #display-picture {
    width: 40;
    height: 40;
    border-radius: 70%; }
  #home-container #posts-list-container #dp-name-container {
    display: flex;
    align-items: center; }

.font-family-sans-serif {
  font-family: sans-serif; }

.font-family-Bahnschrift {
  font-family: Bahnschrift; }
